<!--app-diretiva-ngif></!--app-diretiva-ngif-->

<!--app-ng-switch></!--app-ng-switch-->

<!--router-outlet></!--router-outlet-->

<!--app-diretiva-ngfor></!--app-diretiva-ngfor-->


<!--app-ng-class></!--app-ng-class-->

<!--app-diretiva-ngstyle></!app-diretiva-ngstyle-->


<!--app-operador-elvis></!--app-operador-elvis-->

<!--app-ng-content>
  <div class="titulo">Titulo card</div>
  <div class="corpo">Conteudo do componente com ng-content</div>
  <div class="corpo">Conteudo do componente com ng-content 2</div>
</!--app-ng-content-->

<app-diretivas-customizadas></app-diretivas-customizadas>
