<section class="property-binding">

  <!--<article>

    <h3>Interpolação</h3>

    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1: {{ 1+1 }} (Angular resolve dentro da própria interpolação)</p>
    <p>Resultado de 1 + 1 não é: {{ 1+1+getValor() }} (Agregando função)</p>
    <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }} (Booleanos: var && function)</p>
  </article>

  <article>

    <h3>Property Binding</h3>

    <p>Chamando a imagem por interpolação</p>
    <img src="{{ urlImagem }}" alt="test">
    <p>Chamando a imagem por método (property binding)</p>
    <img [src] = "urlImagem">
    <p>property binding por baixo está atribuindo o bind-src</p>
    <img bind-src = "urlImagem">

  </article>-->

  <article>
    <h3>Class e Style Binding</h3>

    <div>
      Selecione uma classe:

      <select #classe (change)="0"> <!-- event binding / variavel local de template -->
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Erro</option>
      </select>

      <br><br>

      <div class="alert {{ classe.value }}" role="alert">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium itaque, sunt illo praesentium consequatur maiores, fugiat, repellat ipsam doloribus ad quod maxime eos incidunt dolore corrupti distinctio nemo iusto numquam.</div>

      <div class="alert" role="alert"
      [class.alert-success]="classe.value=='alert-success'">
      A simple success alert.
      </div>

      <div class="alert" role="alert"
      [class.alert-info]="classe.value=='alert-info'">
      A simple info alert.
      </div>

      <div class="alert" role="alert"
      [class.alert-warning]="classe.value=='alert-warning'"
      >A simple warning alert.
      </div>

      <div class="alert" role="alert"
      [class.alert-danger]="classe.value=='alert-danger'">
      A simple danger alert.
      </div>


      <div class="alert alert-dark" role="alert"
      [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
      trocando display block e display none
      </div>

    </div>

  </article>


</section>
